<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <title>hola mundo con Vue.js</title>
    </head>
    <body>
        <div id="app">
            <h1>{{titulo}}</h1>
            <ul>
                <li v-for="fruta of frutas">{{fruta}}</li>
            </ul>
            <ul>
                <li v-for="perro of perros">Nombre del perro: {{perro.nombre}}<br>
                    <span v-if="perro.raza !== 'none'">Raza del perro: {{perro.raza}}</span>
                    <span v-else>Raza desconocida</span>
                </li>
            </ul>
        </div>
        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="file.js"></script>
    </body>
</html> 